---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/ui/Navigation.astro';
import Hero from '../components/sections/Hero.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import MenuSection from '../components/sections/MenuSection.astro';
import PhotoGallery from '../components/interactive/PhotoGallery.astro';
import ContactSection from '../components/sections/ContactSection.astro';
import Section from '../components/ui/Section.astro';
---

<Layout title="Bosque - Wine Bar & Restaurant | San Francisco, CA">
  <Navigation />
  <main>
    <Hero />
    <AboutSection />
    <MenuSection />
    <Section id="photos" title="Gallery">
      <PhotoGallery />
    </Section>
    <ContactSection />
  </main>
</Layout>
